#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #f7f8fa; /* Light background for entire app */
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #00c6ff, #0072ff); /* Gradient background */
  color: #333;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  border-radius: 10px;
  background-color: #ffffff;
}

.read-the-docs {
  color: #888;
}

